/* 폰트 */
* {
    font-family: 'IBM Plex Sans KR', sans-serif;
    box-sizing: border-box;
  }


/* 시계 */
#clock {
    position: fixed;
    left: 1%;
    bottom: 1%;
    margin: 0;
    color: #555;
    padding-top: 0.1%;
    border-top: 1px solid #fff;
    font-size: 25px;
  }
  /* 날씨 */
  #weather {
    position: fixed;
    left: 1%;
    bottom: 6%;
    color: #555;
    font-size: 16px;
  }
  #weather img {
    position: absolute;
    margin: 0 auto;
    left: 0;
    right: 0;
    bottom: 50%;
    width: 90px;
  }